<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdvancedProgrammingProject"
        tools:targetApi="31">
        <activity
            android:name=".SpellingPlay"
            android:exported="false" />
        <activity
            android:name=".SpellingLearn"
            android:exported="false" />
        <activity
            android:name=".FindSimilar_Play"
            android:exported="false" />
        <activity
            android:name=".FindSimilarLearn"
            android:exported="false" />
        <activity
            android:name=".AnalogClockPlay"
            android:exported="false" />
        <activity
            android:name=".AnalogClockLearn"
            android:exported="false" />
        <activity
            android:name=".LearnSeasonsPlay"
            android:exported="false" />
        <activity
            android:name=".LeranSeasonsAnime"
            android:exported="false" />
        <activity
            android:name=".SeasonLearn"
            android:exported="false" />
        <activity
            android:name=".NumberCountingReversePlay"
            android:exported="false" />
        <activity
            android:name=".NumberCountingPlay"
            android:exported="false" />
        <activity
            android:name=".MonthCountingPlay"
            android:exported="false" />
        <activity
            android:name=".NumberCountingReverseLearn"
            android:exported="false" />
        <activity
            android:name=".NumberCountingLearn"
            android:exported="false" />
        <activity
            android:name=".MonthCountingLearn"
            android:exported="false" />
        <activity
            android:name=".DayCountingPlay"
            android:exported="false" />
        <activity
            android:name=".DayCountingLearn"
            android:exported="false" />
        <activity
            android:name=".OnScreenBall"
            android:exported="false" />
        <activity
            android:name=".BallonScreen"
            android:exported="false"
            android:theme="@style/Theme.AdvancedProgrammingProject" />
        <activity
            android:name=".DirectionsPlay"
            android:exported="false" />
        <activity
            android:name=".DirectionsLearn"
            android:exported="false" />
        <activity
            android:name=".MultiplicationPlay"
            android:exported="false" />
        <activity
            android:name=".MultiplicationLearn"
            android:exported="false" />
        <activity
            android:name=".ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Log_In"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>